.modal
  .modalContent.modalFormContent
    .modalFormTitle 
      span 추가하기
      button.closeBtn 
        span#closeModalBtn.closeIcon
    form(class="modalForm", action="",method="", entype="multupart/form-data")
      input(type="hidden", id="todoId", name="todoId")
      if (userId)
          input(type="hidden", id="todoUserId", name="todoUserId",data-todoUserId=userId)
      else
          input(type="hidden", id="todoUserId", name="todoUserId")
      .inputRow
        label(class="inputLabel", for="todoContent") 할일
        input(class="inputInfo", type="text", id="addTodoContent", name="todoContent", placeholder="할 일을 입력해주세요!" maxlength="15")
      .inputRow
        label(class="inputLabel" for="todoDueDate") 날짜
        input(class="inputInfo" type="date", id="addTodoDueDate", name="todoDueDate")
      .inputRow
        label(class="inputLabel",for="todoDesc") 설명
        textarea.editTodoDesc(id="addTodoDesc",class="inputInfo", name="todoDesc" placeholder="설명" maxlength="50") 설명
      .inputRow
        label(class="inputLabel",for="todoTag") 태그
        input(type="text", id="addTodoTag", class="inputInfo",name="todoTag", placeholder=",로 나눠서 작성해주세요." maxlength="15")
      .inputRow
        label(class="inputLabel",for="todoFile") 파일
        input(class="inputInfo" type="file", id="addTodoFile", name="todoFile", placeholder="설명" maxlength="15")
      .modalFormBtnCont
        button(id="addTodoBtn",class="modalFormBtn",type="submit") 추가하기
        button(id="closeModalBtn" class="modalFormBtn") 취소