.modal#confirmModal
  .modalContent#deleTodoModal
    .modalTitle 
      span 할일
      span.fontRed 삭제
    .modalDesc
      span 정말로 
      span.fontRed 삭제
      span 하시겠습니까?
    a(href="#")
      button.modalBtn 취소
    a(href="#")
      button(class="deleteUser") 확인