.modal.detailModal#detailModalShow
  .modalContent.modalFormContent#detailModal
    .modalFormTitle 
      span 상세보기
      //- button.closeBtn#closeModalBtn
      //-   span.closeIcon
    form(class="modalForm", action="",method="", entype="multupart/form-data")
      input(type="hidden", id="detailTodoId", name="detailTodoId")
      input(type="hidden", id="detailTodoNum", name="detailTodoNum")
      .inputRow
        label(class="inputLabel", for="todoContent") 할일
        input(class="inputInfo", type="text", id="detailTodoContent", name="todoContent", value="", maxlength="15",readonly)
      .inputRow
        label(class="inputLabel" for="todoDueDate") 날짜
        input(class="inputInfo" type="date", id="detailTodoDueDate", name="todoDueDate",disabled)
      .inputRow.input-desc
        label(class="inputLabel",for="todoDesc") 설명
        textarea.editTodoDesc(id="detailTodoDesc",class="inputInfo", name="detailTodoDesc",value="",maxlength="50",readonly) 설명
      .inputRow
        label(class="inputLabel",for="todoTag") 태그
        input(type="text", id="detailTodoTag", class="inputInfo",name="detailTodoTag", value="",maxlength="15",readonly)
      #detailTodoFile
      .modalFormBtnCont
        button(data-open-modal="detailModalShow",class="modalFormBtn closeModalBtn",type="button") 확인
        button(class="modalFormBtn closeModalBtn",type="button") 취소