.modal.editModal#editModalShow
  .modalContent.modalFormContent#editModal
    .modalFormTitle 
      span 수정하기
      //- button.closeBtn#closeModalBtn
      //-   span.closeIcon
    form(class="modalForm", action="",method="", entype="multupart/form-data")
      input(type="hidden", id="editTodoId", name="editTodoId")
      input(type="hidden", id="editTodoNum", name="editTodoNum")
      .inputRow
        label(class="inputLabel", for="todoContent") 할일
        input(class="inputInfo", type="text", id="editTodoContent", name="todoContent", value="", maxlength="15")
      .inputRow
        label(class="inputLabel" for="todoDueDate") 날짜
        input(class="inputInfo" type="date", id="editTodoDueDate", name="todoDueDate",value="" )
      .inputRow.input-desc
        label(class="inputLabel",for="todoDesc") 설명
        textarea.editTodoDesc(id="editTodoDesc",class="inputInfo", name="editTodoDesc",value="",maxlength="50") 설명
      .inputRow
        label(class="inputLabel",for="todoTag") 태그
        input(type="text", id="editTodoTag", class="inputInfo",name="editTodoTag")
      .inputRow
        label(class="inputLabel",for="editTodoFile") 파일(jpg,png)
        input(class="inputInfo" type="file", id="editTodoFile", name="editTodoFile", placeholder="설명", maxlength="15")
      #editTodoFileView
      .modalFormBtnCont
        button(data-open-modal="editModalShow",id="editTodoBtn",class="modalFormBtn",type="button") 수정하기
        button(class="modalFormBtn closeModalBtn" type="button") 취소