.modal#myPageModal
    .modalContent.modalFormContent.myPageModalCont
        .myPageTitle
            span.myIcon
            span.myPageLabel MY PAGE
            button.closeBtn 
                span.closeIcon.closeModalBtn
        .myPageSection
            .myContInfo
                .myLabel 이름:
                if(userName)
                    .myDesc= userName
                else
                    .myDesc guest    
            .myEdit
                button.myEditBtn
            .myContInfo
                .myLabel E-MAIL:
                if(userEmail)
                    .myDesc= userEmail
                else
                    .myDesc guest@gmail.com    
            .myEdit
                button.myEditBtn
            button.myBtn 
                a(href="/user/resetPw") 비밀번호 변경
            button.myBtn     
                a(href="/user/userDelete") 회원 탈퇴
                