.modal
    div(class="modalContent myPageModalCont")
    .myPageTitle
        span.myIcon
        span.myPageLabel MY PAGE
    .myPageSection
        .myPageImg
        .myContInfo
        .myLabel 이름
        .myDesc 홍길동
        .myEdit
            button.myEditBtn
        .myContInfo
        .myLabel E-MAIL
        .myDesc abc@gmail.com
        .myEdit
            button.myEditBtn
        button.myBtn 비밀번호 변경
        button.myBtn 회원 탈퇴