doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="./css/common.css")
  body 
    .container
      h1.formTitle 비밀번호 재설정
      form(action="", method="" class="formSection")
        input(type="text" ,class="formContent" , name="", placeholder="비밀번호" maxlength="")
        input(type="text" ,class="formContent" , name="", placeholder="비밀번호 확인" maxlength="")
        button(type="submit" ,class="formContent formBtn") 비밀번호 재설정
    script(src="../js/validate.js" type="module")
