doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TODO LIST
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="./css/common.css")
    link(rel="stylesheet", href="./css/todo.css")
    link(rel="stylesheet", href="./css/todoForm.css")
  body 
    .container.todoContainer
      .navSection
        button.tagSearchBtn # 
          span 태그로 검색
        button#openModalBtn.myPaegBtn
          span.myPageIcon
          span MY
        button.logout LOG OUT
      .processSection
        .processLabel 진행률
        .processNumber 80%
        .processBar
          .barFull 
            span.barNumber
      .headerSection
        .headerTitle
          span.headerIcon
          span TODO LIST
        .headerHello 홍길동님 안녕하세요
      .todoSection
        .todoHeader
          .todoCont TODO
          .addCont + NEW
          .DoneCont DONE
        .todoRow
          .rowDate 2024. 04. 11.
          .rowDesc 밥먹기
          .rowTag
            span.rowTagData # 코딩
            span.rowTagData # 과제
            span.rowTagData # 회사
            span.rowTagData # 집
          button.rowControl
            span.rowControlIcon
        .todoRow
          .rowDate 2024. 04. 11.
          .rowDesc 밥먹기
          .rowTag
            span.rowTagData # 코딩
            span.rowTagData # 과제
          button.rowControl
            span#openModalBtn.rowControlIcon
    .modal
      //- div(class="modalContent myPageModalCont")
      //-   .myPageTitle
      //-     span.myIcon
      //-     span.myPageLabel MY PAGE
      //-   .myPageSection
      //-     .myPageImg
      //-     .myContInfo
      //-       .myLabel 이름
      //-       .myDesc 홍길동
      //-       .myEdit
      //-        button.myEditBtn
      //-     .myContInfo
      //-       .myLabel E-MAIL
      //-       .myDesc abc@gmail.com
      //-       .myEdit
      //-        button.myEditBtn
      //-     button.myBtn 비밀번호 변경
      //-     button.myBtn 회원 탈퇴
      //- div(class="modalContent todoModalCont")
        .requestModalTitle 사용자 관리
        .adminFilterCont
          .filterSection
            .filterLabel 아이디
            .filterCont abc
              span.filterSearch
          .filterSection
            .filterLabel 이름
            .filterCont 홍길동
          .filterSection
            .filterLabel E-MAIL
            .filterCont aaa@naver.com
      .modalContent.modalFormContent
        .modalFormTitle 
          span 추가하기
          button.closeBtn 
            span.closeIcon
        form(class="modalForm", action="/editTodo",method="put", entype="multupart/form-data")
          input(type="hidden", id="editTodoId", name="todo_id")
          .inputRow
            label(class="inputLabel", for="todo_content") 할일
            input(class="inputInfo", type="text", id="editTodoContent", name="todo_content", placeholder="할 일을 입력해주세요!" maxlength="15")
          .inputRow
            label(class="inputLabel" for="editTodoDueDate") 날짜
            input(class="inputInfo" type="date", id="editDueDate", name="due_date")
          .inputRow
            label(class="inputLabel",for="editTodoDesc") 설명
            textarea.editTodoDesc(id="editTodoDesc",class="inputInfo", name="todo_desc" placeholder="설명" maxlength="50") 설명
          .inputRow
            label(class="inputLabel",for="editTodoDesc") 태그
            input(type="text", id="editTodoDesc", class="inputInfo",name="editTodoDesc", placeholder="설명" maxlength="15")
          .inputRow
            label(class="inputLabel",for="") 파일
            input(class="inputInfo" type="file", id="", name="", placeholder="설명" maxlength="15")
            label(id="fileLabel")
          .inputRow
            label(class="inputLabel",for="") 녹음
            input(class="inputInfo" type="file", id="", name="fileLabel", placeholder="설명")
            label(id="fileLabel")
          .inputRow2
            label(class="inputLabel2",for="") 파일
            input(class="inputInfo2" type="file", id="", name="", placeholder="설명" maxlength="15")
            label(id="fileLabel")
            label(class="inputLabel2",for="") 음성 녹음
            input(class="inputInfo2" type="file", id="", name="fileLabel", placeholder="설명")
            label(id="fileLabel")
          .modalFormBtnCont
            button(id="",class="modalFormBtn",type="submit") 추가하기
            button(id="" class="modalFormBtn") 취소
    script(src="./js/modal.js")
    //- script(src="./js/validate/joinValidate.js" type="module")
    //- script(src="./js/validate.js" type="module")
   