doctype html
html(lang="ko")
  head
    link(rel="icon" href="./images/list.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/common.css")
  body 
    .container
      h1.formTitle 
        a(href="/admin/login") ADMIN LOGIN
      form(action="/admin/login",method="post",class="formSection")
        input(type="text",id="idInput",class="formContent",name="idInput",placeholder="아이디 bbb234",maxlength="",required)
        input(type="password",id="pwInput",class="formContent",name="pwInput",placeholder="비밀번호 1234!a",maxlength="",required)
        .formMessage
        button(type="submit",id="adminLoginBtn",class="formContent formBtn") 로그인
        .supLink
          a(href="/admin/request")
            span 관리자 승급 요청
    script(src="../js/validate.js" type="module")
    script(src="../js/user/formMessage.mjs" type="module")
    script(src="../js/user/adminLogin.js" type="module")