.modal
  div(class="modalContent requestContent")
    .requestModalTitle 관리자 승급 요청
    .requestRowCont 
      each request in requests
        if(requests)
          .requestRow
            .requestName=`id = ${request.userId}`
            .requestBtnCont
              button.adminAcceptBtn 수락 
              button.adminRejectBtn 거절
        else
          .requestRow
            .requestName 없음
            .requestBtnCont
              button 수락 
              button 거절
        //- .requestRow
        //-   .requestName 홍길동
        //-   .requestBtnCont
        //-     button 수락 
        //-     button 거절
        //- .requestRow
        //-   .requestName 홍길동
        //-   .requestBtnCont
        //-     button.okBtn 수락 
        //-     button.noBtn 거절
    a(href="/admin")
      button.modalBtn 확인