.modal
  div(class="modalContent userFilterContent")
    .requestModalTitle 사용자 관리
    .adminFilterCont
      .filterSection
        .filterLabel 아이디
        .filterCont abc
          span.filterSearch
      .filterSection
        .filterLabel 이름
        .filterCont 홍길동
      .filterSection
        .filterLabel E-MAIL
        .filterCont aaa@naver.com