@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
  --main-color: #009BB6;
  --second-color: #005E87;
  --third-color: #179BC7;
  --main-font: "Nanum Gothic", sans-serif;
}

button, input {
  font-family: var(--main-font);
}

body {
  font-family: var(--main-font);
  background: radial-gradient(#ffc47b, var(--main-color));
  width: 100%;
  height: 100vh;
  position: relative;

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    border-radius: 20px;

    .formTitle {
      font-size: 32px;
      font-weight: bold;
      color: var(--main-color);
      padding-top: 60px;
      padding-bottom: 60px;
      position: relative;

      .simpleLogin {
        position: absolute;
        width: 100px;
        top: 70%;
        left: 150px;
        border-radius: 6px;
        background-color: var(--main-color);
        color: #fff;
        padding: 4px;
      }
    }

    .formSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input {
        padding-left: 10px;
      }

      .formContent {
        width: 200px;
        height: 50px;
        margin-bottom: 30px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: normal;
        border: 1px solid var(--main-color);
      }

      .formContent:focus {
        outline: none;
        border: 3px solid var(--main-color);
      }
      .formMessage {
        width: 100%;
        height: 10px;
        color: red;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .formBtn {
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: var(--main-color);
        font-weight: bold;
        color: #fff;
      }

      .supLink {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #aaa;
        font-size: 16px;

        a {
          border-right: 3px solid #777777;
          padding-left: 6px;
          padding-right: 6px;
          width: 120px;

          &:last-child {
            border-right: none;
          }
        }
      }
    }

  }

  .container.cap {
    height:580px;
  }

  .bigContainer {
    width: 600px;
  }

  .modal {
    display: none;
    position: sticky;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    transform: translate(-50%, -50%);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    text-align: center;
    background-color: #fff;
    border-radius:20px;

    .modalTitle {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 32px;
      font-weight: bold;
    }

    .modalDesc {
      margin-bottom: 30px;
      p {
        font-size: 24px;
      }
    }

    .modalBtn {
      background-color: var(--main-color);
      color:#fff;
      width: 120px;
      height: 50px;
      border-radius:10px;
    }
    
  }
  .modalDesc span {
    font-size: 30px;
  }
  .fontRed {
    color :#f7253b;
    margin-left: 6px;
  }
  .deleteUser {
    color:#fff;
    width: 120px;
    height: 50px;
    border-radius:10px;
    margin-left: 10px;
    background-color: #E96573;
  }
}
.hidden {
  display: none;
}

/* 반응형 디자인 추가 */
@media (max-width: 768px) {
  body {
    .container,.container.cap {
      width: 80%;
      height: auto;
      padding: 20px;
      padding-top: 0;
    }
  
    .container .formTitle {
      font-size: 28px;
      padding-top: 50px;
      padding-bottom: 40px;
      font-weight: bold;

      .simpleLogin {
        left: 33%;
      }
    }
  
    .container .formSection .formContent {
      width: 80%;
      height: 40px;
      font-size: 16px;
    }
  
    .container .formSection .formBtn {
      width: 80%;
      height: 40px;
      font-size: 18px;
    }
  
    .container .formSection .supLink {
      font-size: 14px;
      a {
        padding: 0;
      }
    }
  
    .modalContent {
      width: 80%;
      height: auto;
      padding: 20px;
    }
  
    .modalContent .modalTitle {
      font-size: 24px;
    }
  
    .modalContent .modalDesc p {
      font-size: 18px;
    }
  
    .modalContent .modalBtn {
      width: 100px;
      height: 40px;
      font-size: 18px;
    }
  }
  
}