@charset "UTF-8";
body .todoContainer {
  width: 560px;
  height: 800px;
  padding: 20px;
  background-color: #92E4FF;
}
body .todoContainer .navSection {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .todoContainer .navSection button {
  border-radius: 6px;
  color: #fff;
  background-color: #179BC7;
  font-weight: bold;
  font-size: 24px;
  height: 40px;
}
body .todoContainer .navSection .tagSearchBtn {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .todoContainer .navSection .tagSearchBtn span {
  margin-left: 4px;
  font-size: 16px;
}
body .todoContainer .navSection .myPageBtn {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .todoContainer .navSection .myPageBtn .myPageIcon {
  background-image: url(../images/face.svg);
  width: 30px;
  height: 30px;
  background-size: cover;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
}
body .todoContainer .navSection .logout {
  width: 180px;
}
body .processSection {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .processSection .processLabel {
  font-size: 24px;
  font-weight: bold;
  color: #179BC7;
  margin-left: 10px;
}
body .processSection .processNumber {
  width: 80px;
  height: 40px;
  color: #179BC7;
  border: 1px solid #179BC7;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 24px;
}
body .processSection .processBar {
  width: 320px;
  height: 40px;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .processSection .processBar .barFull {
  width: 300px;
  height: 20px;
  border-radius: 6px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
}
body .processSection .processBar .barNumber {
  height: 20px;
  border-radius: 6px;
  background-color: #179BC7;
}
body .headerSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
body .headerSection .headerTitle {
  font-size: 36px;
  font-weight: bold;
  color: #179BC7;
  display: flex;
  align-items: center;
}
body .headerSection .headerIcon {
  background-image: url(../images/list.svg);
  background-size: cover;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
}
body .headerSection .headerHello {
  font-size: 16px;
  color: #179BC7;
}
body .todoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  height: 50px;
}
body .todoHeader .todoCont {
  background-color: #179BC7;
  flex: 1;
  width: 33.3333333333%;
  height: inherit;
  border-top-left-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
body .todoHeader .todoCont:hover {
  scale: 1.2;
  border-radius: 10px;
}
body .todoHeader .addCont {
  background-color: #E96573;
  flex: 1;
  width: 33.3333333333%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
body .todoHeader .addCont:hover {
  scale: 1.2;
  border-radius: 10px;
}
body .todoHeader .DoneCont {
  background-color: #07A467;
  flex: 1;
  width: 33.3333333333%;
  height: inherit;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
body .todoHeader .DoneCont:hover {
  scale: 1.2;
  border-radius: 10px;
}
body .todoSection {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  height: 500px;
  background-color: #fff;
  overflow: auto;
}
body .todoSection::-webkit-scrollbar {
  display: none; /* Webkit 기반 브라우저에서 스크롤바를 숨깁니다. */
}
body .todoSection .todoRow {
  width: 100%;
  height: 120px;
  background-color: #179BC7;
  border-top: 1px solid #364954;
  border-bottom: 1px solid #364954;
  -moz-text-align-last: left;
       text-align-last: left;
  padding: 10px;
  padding-left: 25px;
  position: relative;
  z-index: 1;
}
body .todoSection .todoRow:hover {
  background-color: #2E7289;
  border-left: 10px solid #364954;
}
body .todoSection .todoRow .rowDate {
  font-size: 16px;
  color: #fff;
}
body .todoSection .todoRow .rowDesc {
  font-size: 24px;
  color: #fff;
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: bold;
}
body .todoSection .todoRow .rowTag {
  margin-top: 10px;
}
body .todoSection .todoRow .rowTag .rowTagData {
  font-size: 16px;
  padding: 6px;
  padding-right: 14px;
  background-color: #E96573;
  border-radius: 6px;
  margin-right: 10px;
  color: #fff;
  font-weight: bold;
}
body .todoSection .todoRow .rowControl {
  position: absolute;
  top: 30%;
  left: 85%;
  background-color: #005E87;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  z-index: 2;
}
body .todoSection .todoRow .rowControl .rowControlIcon {
  position: absolute;
  top: 15%;
  left: 15%;
  background-image: url(../images/order.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
}
body .todoSection .todoRow .rowBtns {
  position: absolute;
  top: 30%;
  left: 56%;
  height: 50px;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
body .todoSection .todoRow .rowBtns button {
  width: 50px;
  height: 50px;
  background-color: #005E87;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  border: 1px solid #000;
  position: relative;
}
body .todoSection .todoRow .rowBtns button span {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 32px;
  height: 32px;
  background-size: cover;
}
body .todoSection .todoRow .rowBtns button .doneBtn {
  background-image: url(../images/done.svg);
}
body .todoSection .todoRow .rowBtns button .editBtn {
  background-image: url(../images/edit.svg);
}
body .todoSection .todoRow .rowBtns button .deleteBtn {
  background-image: url(../images/delete.svg);
}
body .todoSection .todoRow .rowBtns button .closeBtn {
  background-image: url(../images/close.svg);
}
body .todoSection .todoRow.done {
  background-color: #07A467;
}
body .todoSection .todoRow.done:hover {
  background-color: #46856d;
}
body .todoSection .todoRow.done .rowControl {
  background-color: #286137;
}
body .todoSection .todoRow.done .rowBtns {
  left: 65%;
}
body .todoSection .todoRow.done .rowBtns button {
  background-color: #286137;
}
body .todoSection .todoRow.done .rowBtns button:nth-child(1) {
  display: none;
}
body .modal .myPageModalCont {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 360px;
  height: 500px;
  transform: translate(-50%, -50%);
  border: 1px solid var(--main-color);
  color: #005E87;
  background-color: #92E4FF;
  border-radius: 20px;
  padding: 10px;
}
body .modal .myPageModalCont .myPageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .modal .myPageModalCont .myPageTitle .myIcon {
  background-image: url(../images/face.svg);
  width: 36px;
  height: 36px;
  background-size: cover;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
}
body .modal .myPageModalCont .myPageTitle .myPageLabel {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-left: 6px;
}
body .modal .myPageModalCont .myPageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  height: 410px;
  background-color: #179BC7;
  justify-content: flex-start;
}
body .modal .myPageModalCont .myPageSection .myPageImg {
  background-image: url(../images/picture.svg);
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 4px;
}
body .modal .myPageModalCont .myPageSection .myContInfo {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  -moz-text-align-last: left;
       text-align-last: left;
  color: #fff;
  height: 60px;
  margin-left: 90px;
}
body .modal .myPageModalCont .myPageSection .myContInfo .myLabel {
  width: 20%;
}
body .modal .myPageModalCont .myPageSection .myContInfo .myDesc {
  width: 60%;
}
body .modal .myPageModalCont .myPageSection .myContInfo .myEdit {
  width: 20%;
}
body .modal .myPageModalCont .myPageSection .myContInfo .myEdit .myEditBtn {
  background-color: #005E87;
  background-image: url(../images/edit.svg);
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 4px;
}
body .modal .myPageModalCont .myPageSection .myBtn {
  width: 75%;
  height: 50px;
  background-color: #005E87;
  border-radius: 10px;
  color: #fff;
  margin-top: 10px;
}
body .modal .todoModalCont {
  position: absolute;
  top: 46%;
  left: 58%;
  width: 360px;
  height: 240px;
  transform: translate(-50%, -50%);
  border: 1px solid var(--main-color);
  color: #005E87;
  background-color: #92E4FF;
  opacity: 0.5;
  border-radius: 20px;
  padding: 10px;
}/*# sourceMappingURL=todo.css.map */