doctype html
html(lang="ko")
  head
    link(rel="icon" href="./images/list.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 관리자 승급 요청
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/common.css")
  body 
    include ../modal/completeRequestModal.pug
    .container
      h1.formTitle 
        a(href="/admin/request") 관리자 승급 요청
      form(action="/admin/request", method="" class="formSection")
        input(type="text",id="idInput",class="formContent",name="idInput",placeholder="아이디",maxlength="",required)
        input(type="password",id="pwInput",class="formContent",name="pwInput",placeholder="비밀번호",maxlength="",required)
        .formMessage 요청 실패
        button(type="submit",id="adminRequestBtn",class="formContent formBtn") 요청하기
        .supLink
          a(href="/admin/login")
            span 관리자 로그인
    //- .modal
    //-   .modalContent
    //-     .modalTitle 관리자 승급 요청
    //-     .modalDesc
    //-       p 관리자 승급 요청이
    //-       p 완료되었습니다.
    //-     a(href="/admin/login")
    //-       button.modalBtn 확인
    script(src="../js/modal.js")
    //- script(src="../js/validate/loginValidate.js" type="module")
    script(src="../js/user/adminRequest.js" type="module")
