doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TODO LIST
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="./css/common.css")
    link(rel="stylesheet", href="./css/todo.css")
    link(rel="stylesheet", href="./css/todoForm.css")
  body 
    include ../modal/todoModal/detailModal.pug
    .container.todoContainer
      .navSection
        button.tagSearchBtn #
          span 태그로 검색
        button#openModalBtn.myPaegBtn
          span.myPageIcon
          span MY
        button.logout LOG OUT
      .processSection
        .processLabel 진행률
        .processNumber 80%
        .processBar
          .barFull 
            span.barNumber
      .headerSection
        .headerTitle
          span.headerIcon
          span TODO LIST
        .headerHello 홍길동님 안녕하세요
      .todoSection
        .todoHeader
          .todoCont TODO
          .addCont + NEW
          .DoneCont DONE
        .todoRow
          .rowDate 2024. 04. 11.
          .rowDesc 밥먹기
          .rowTag
            span.rowTagData # 코딩
            span.rowTagData # 과제
            span.rowTagData # 회사
            span.rowTagData # 집
          button.rowControl
            span.rowControlIcon
        .todoRow
          .rowDate 2024. 04. 11.
          .rowDesc 밥먹기
          .rowTag
            span.rowTagData # 코딩
            span.rowTagData # 과제
          button.rowControl
            span#openModalBtn.rowControlIcon
    .modal
      //- div(class="modalContent todoModalCont")
        .requestModalTitle 사용자 관리
        .adminFilterCont
          .filterSection
            .filterLabel(for="userId") 아이디
            .filterCont
              input.filterSearch(type="text", id="userId")
          .filterSection
            .filterLabel(for="userName") 이름
            .filterCont
              input.filterSearch(type="text", id="userName")
          .filterSection
            .filterLabel(for="userEmail") E-MAIL
            .filterCont
              input.filterSearch(type="email", id="userEmail")
      //- .modalContent.modalFormContent#editModal
      //-   .modalFormTitle 
      //-     span 수정하기
      //-     button.closeBtn 
      //-       span#closeModalBtn.closeIcon
      //-   form(class="modalForm", action="/addTodo",method="post", entype="multupart/form-data")
      //-     input(type="hidden", id="todoId", name="todoId")
      //-     if (fUserId)
      //-         input(type="hidden", id="todoUserId", name="todoUserId",data-todoUserId=fUserId)
      //-     else
      //-         input(type="hidden", id="todoUserId", name="todoUserId")
      //-     .inputRow
      //-       label(class="inputLabel", for="todoContent") 할일
      //-       input(class="inputInfo", type="text", id="addTodoContent", name="todoContent", value="드라마 보기", maxlength="15")
      //-     .inputRow
      //-       label(class="inputLabel" for="todoDueDate") 날짜
      //-       input(class="inputInfo" type="date", id="addTodoDueDate", name="todoDueDate",value="2024-04-25" )
      //-     .inputRow
      //-       label(class="inputLabel",for="todoDesc") 설명
      //-       textarea.editTodoDesc(id="addTodoDesc",class="inputInfo", name="todoDesc",maxlength="50") 눈물의 여왕 1화 보기
      //-     .inputRow
      //-       label(class="inputLabel",for="todoTag") 태그
      //-       input(type="text", id="addTodoTag", class="inputInfo",name="todoTag", value="드라마,여가",maxlength="15")
      //-     .inputRow
      //-       label(class="inputLabel",for="todoFile") 파일
      //-       input(class="inputInfo" type="file", id="addTodoFile", name="todoFile", placeholder="설명" maxlength="15")
      //-     .inputRow
      //-       label(class="inputLabel",for="todoSound") 녹음
      //-       input(class="inputInfo" type="file", id="addTodoSound", name="todoSound", placeholder="설명")
      //-     .modalFormBtnCont
      //-       button(id="addTodoBtn",class="modalFormBtn",type="submit") 수정하기
      //-       button(id="closeModalBtn" class="modalFormBtn") 취소
    //- script(src="./js/modal.js")
    //- script(src="./js/validate/joinValidate.js" type="module")
    //- script(src="./js/validate.js" type="module")
    script(src="../js/todoData/todoDetail.js")
