.modal
  .modalContent
    .modalTitle 
      span 회원
      span.fontRed 탈퇴
    .modalDesc
      span 정말로 
      span.fontRed 탈퇴
      span 하시겠습니까?
    a(href="#")
      button.modalBtn 취소
    a(href="#")
      button(class="deleteUser") 확인