.modal#confirmModal
  .modalContent
    .modalTitle SIGN UP
    .modalDesc#modalContent
      p 회원가입이 성공적으로
      p 완료되었습니다.
    button#modalCloseBtn.modalBtn 확인
    a(href="/user/login" id="modalLoginLink")
      button.modalBtn 확인