doctype html
html(lang="ko")
  head
    link(rel="icon" href="../images/list.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 비밀번호 재설정
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/common.css")
  body 
    include ../modal/resetPwModal.pug
    .container
      h1.formTitle 비밀번호 재설정
      form(id="resetPwForm", action="", method="" class="formSection")
        input(type="password", id="currentPwInput", class="formContent", name="currentPassword", placeholder="현재 비밀번호", maxlength="")
        input(type="password", id="newPwInput", class="formContent", name="newPassword", placeholder="새 비밀번호", maxlength="")
        input(type="password", id="pwConfirmInput", class="formContent", name="confirmPassword", placeholder="새 비밀번호 확인", maxlength="")
        button(id="resetPwBtn", type="submit", class="formContent formBtn") 비밀번호 재설정
    script(src="../js/user/resetPw.js" type="module")
    script(src="../js/user/formMessage.js" type="module")
