doctype html
html(lang="ko")
  head
    link(rel="icon" href="../images/list.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 비밀번호 찾기
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/common.css")
  body 
    include ../modal/findPwModal.pug
    .container
      h1.formTitle 
        a(href="/user/findPw") 비밀번호 찾기
      form(id="findPwForm",action="/user/findPw",method="post",class="formSection")
        input(type="text",id="idInput",class="formContent",name="userId",placeholder="아이디",maxlength="")
        input(type="text",id="emailInput",class="formContent",name="userEmail",placeholder="이메일",maxlength="")
        button(type="submit",id="findPwBtn",class="formContent formBtn") 비밀번호 찾기
        .supLink
          a(href="/user/findId")
            span 아이디 찾기
          a(href="/user/login")
            span 로그인

    script(src="../js/modal.js")
    //- script(src="../js/validate.js" type="module")
    script(type="module" src="../js/user/findPw.js")