doctype html
html(lang="ko")
  head
    link(rel="icon" href="../images/list.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title LOGIN
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/common.css")
  body 
    include ../modal/confirmLoginModal.pug
    .container
      h1.formTitle
        a(href="/user/login") LOG IN
        button.simpleLogin 간편 로그인
      form(id="loginForm" action="", method="", class="formSection")
        input(type="text", id="idInput",class="formContent" , name="idInput", placeholder="아이디" ,maxlength="", required)
        input(type="password",id="pwInput" ,class="formContent" , name="pwInput", placeholder="비밀번호" ,maxlength="", required)
        //- button(id="loginBtn", type="submit" ,class="formContent formBtn") 로그인
        button(id="loginBtn", type="submit" ,class="formContent formBtn") 로그인
        .supLink
          a(href="/user/findId")
            span 아이디 찾기
          a(href="/user/findPw")
            span 비밀번호 찾기
          a(href="/user/join")
            span 회원가입
    //- script(src="../js/validate/loginValidate.js" type="module")
    //- script(src="../js/regEx2.js" type="module")
    
    script(src="../js/user/login.js" type="module")
    script(src="../js/user/formMessage.js" type="module")
    script(src="../js/regEx3.js" type="module")
    script(src="../js/simpleLogin.js")
    
    
    
