doctype html
html(lang="ko")
  head
    link(rel="icon" href="../images/list.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 회원 탈퇴
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/common.css")
  body 
    include ../modal/userDeleteModal.pug
    .container
      h1.formTitle 
        span 회원 
        span.fontRed 탈퇴
      form(id="userDeleteForm" class="formSection")
        input(type="text",id="idInput", class="formContent", name="idInput", placeholder="아이디", maxlength="")
        input(type="password", id="pwInput", class="formContent", name="pwInput", placeholder="비밀번호", maxlength="" required)
        button(type="button", id="openModalBtn", class="formContent formBtn") 
          span 회원 
          span.fontRed 탈퇴

    .modal.deleteModal.hidden
      .modalContent
        .modalTitle 
          span 회원
          span.fontRed 탈퇴
        .modalDesc
          span 정말로 
          span.fontRed 탈퇴
          span 하시겠습니까?
        .modalActions
          button(type="button", class="modalBtn cancelBtn") 취소
          button(type="button", id="confirmDeleteBtn", class="modalBtn confirmBtn") 확인

    //- script(src="../js/modal.js")
    script(src="../js/validate.js" type="module")
    script(src="../js/user/userDelete.js" type="module")
