doctype html
html(lang="ko")
  head
    link(rel="icon" href="../images/list.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 아이디 찾기
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/common.css")
  body 
    include ../modal/findIdModal.pug
    .container
      h1.formTitle 
        a(href="/user/findId") 아이디 찾기
      form(action="/user/findId",method="post",class="formSection")
        input(type="text",id="nameInput",class="formContent",name="nameInput",placeholder="이름",maxlength="")
        input(type="text",id="emailInput",class="formContent",name="emailInput",placeholder="이메일",maxlength="")
        button(type="submit",id="findIdBtn",class="formContent formBtn") 아이디 찾기
        .supLink
          a(href="/user/findPw")
            span 비밀번호 찾기
          a(href="/user/login") 
            span 로그인
    //- .modal
    //-   .modalContent
    //-     .modalTitle 아이디 발급
    //-     .modalDesc
    //-       p 이메일로 아이디가
    //-       p 발급되었습니다.
    //-     a(href="/login")
    //-       button(id="findIdBtn",class="modalBtn") 확인
    script(src="../js/modal.js")
    script(src="../js/validate.js" type="module")
    script(src="../js/user/findId.js")
