doctype html
html(lang="ko")
  head
    link(rel="icon" href="../images/list.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title SIGN UP
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/common.css")
    link(rel="stylesheet", href="../css/join.css")
  body 
    include ../modal/completeJoinModal.pug
    .container.joinContainer
      h1.formTitle SIGN UP
      form(action="/user/join", method="POST" ,class="formSection", enctype="multipart/form-data",required)
        input(type="text", id="idInput",class="formContent" , name="idInput", placeholder="아이디 (4~10자)", maxlength="10", required)
        input(type="password",id="pwInput" ,class="formContent" , name="pwInput", placeholder="비밀번호 (문자, 숫자, 특수문자 포함 6자)", maxlength="", required)
        input(type="password",id="pwConfirmInput",class="formContent" , name="pwConfirmInput", placeholder="비밀번호 확인", maxlength="", required)
        input(type="email",id="emailInput",class="formContent" , name="emailInput", placeholder="이메일 (abcd@naver.com)", maxlength="", required)
        input(type="text",id="nameInput" ,class="formContent" , name="nameInput", placeholder="이름 (홍길동)", maxlength="", required)
        .formMessage
        .joinBtnSection
          button(type="submit",id="joinBtn" ,class="formContent formBtn") 회원가입
          a(href="/user/login")
            button(class="formContent formBtn") 가입취소
    //- .modal
    //-   .modalContent
    //-     .modalTitle SIGN UP
    //-     .modalDesc
    //-       p 회원가입이 성공적으로
    //-       p 완료되었습니다.
    //-     a(href="/login")
    //-       button.modalBtn 확인
    script(src="../js/modal.js")
    script(src="../js/validate/joinValidate.js" type="module")
    script(src="../js/validate.js" type="module")
    script(src="../js/user/formMessage.js" type="module")
    script(src="../js/user/join.js" type="module")
  